---
const {
  class: className = '',
  translateClass = 'group-hover:translate-x-2',
} = Astro.props;
---

<span class:list={[
  'absolute inset-y-0 left-[0.72rem] z-10 my-auto flex h-7 w-7 items-center justify-center',
  className,
]} aria-hidden="true">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round" class:list={['h-[18px] w-[18px] text-white transition-transform duration-500 ease-[cubic-bezier(0.65,0,0.076,1)]', translateClass]}>
    <path d="M5 12h14"></path>
    <path d="m12 5 7 7-7 7"></path>
  </svg>
</span>